// test below 



//border radius change 3.7 
.container .jumbotron {
    @include border-top-radius(0px);
    @include border-bottom-radius(50px);
}

.container .jumbotron {
  @include gradient-striped;
}

.jumbotron {
  background-color: orange;
}


body {
  padding: 0;
/*   background-color: lightseagreen; */
  @include gradient-vertical-three-colors;
}

h2 {
  color: white;
}

.saved-cities-list li {
    display: inline;
}
